[Desktop Entry]
Version=1.0
Name=User Manager
Comment=User System Manager
Exec=ktsuss -m "Kwort User Manager Access" -u root /usr/share/kwort/kum/kum
Icon=config-users
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
