[Desktop Entry]
Version=1.0
Name=Networking Setup
Comment=Configure networking
Exec=ktsuss -m "Kwort Network Manager Access" -u root /usr/share/kwort/knm/netconfig
Icon=applications-internet
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
